<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hhjvm.java.mapper.SoutMapper">
    <select id="list" resultType="hhjvm.java.pojo.OperateLog">
select o.* , e.name as operateEmpName from operate_log o left join emp e on o.operate_emp_id = e.id
    </select>
</mapper>